html {
    scrollbar-width: none;
}

body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    border: 1px solid #ddd;
    padding: 4px;
    width: 300px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px; 
    overflow: hidden;
    position: relative;
}

.card.selected {
    border-color: #007bff; /* Highlight selected cards */
}

.thumbnail {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.thumbnail:hover {
    transform: scale(1.05);
}

.group-name {
    font-size: 0.9em; 
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.floating-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid #ddd;
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none; /* Hidden by default */
    width: 95vw;
    height: 95vh;
    overflow: hidden; /* Prevents overflow */
}

.floating-window .media-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.floating-window img, .floating-window video {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.floating-window .button-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    z-index: 1001; /* Ensure buttons are above media content */
}

.floating-window .close-btn, .floating-window .nav-btn {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}

.floating-nav-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    flex-direction: row;
    bottom: 10px;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
}

/* Styling for navigation sections */
.nav-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.nav-icon img {
    width: 40px; 
    height: 40px;
    cursor: pointer;
}

.nav-icon img:hover {
    transform: scale(1.2);
}

.nav-icon {
    display: inline-block;
    margin: 0 10px; 
}
